<body id = "test">

<h1 class="top-index">Barber's N.Y</h1><br>
<h2>美容師と貴方をマッチングするサービス</h2>
<%#= notice %>

<%#= link_to 'userはコチラ', new_user_session_path %>
<%#= link_to 'user log outはコチラ', new_user_session_path %>

<%#= link_to 'stylistはコチラ', new_stylist_session_path %>
<%#= link_to 'stylist logoutはコチラ', new_stylist_session_path %>

<%#= link_to 'ownerはコチラ', new_owner_session_path %>
<%#= link_to 'owner log outはコチラ', new_owner_session_path %>

</body>